@import "abstracts/variables";
@import "abstracts/fonts";
@import "abstracts/mixins";
@import "components/buttons";
@import "components/logo";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: $dark-3xl;
}

.our-pets {
  display: flex;
  flex-direction: column;
  justify-items: start;
  width: 100%;
}

h3 {
  @include text-georgia(35px, 130%, $dark-l);

  @include media-tablet {
    @include text-georgia(25px, 32.5px, $dark-l);
  }
}

@import "layouts/background-wrapper";
@import "layouts/wrapper";
@import "components/burger";

.wrapper-sticky {
  width: 100%;
  background: $light-xl;
  position: sticky;
  top: 0.001px;
}

.header-container {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $light-xl;
  @include media-tablet{
    justify-content: start;
    column-gap: 43px;
  }

  .nav-menu {
    width: 443px;
    display: flex;
    justify-content: space-between;
    @include media-tablet {
      display: none;
    }

    .nav-menu__item {
      list-style: none;

      .active {
        color: $dark-l;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }

      &_active {
        border-bottom: 4px #F1CDB3 solid;
      }

      a {
        @include text-arial(15px, 160%, $dark-l);

        &:hover {
          color: $dark-3xl;
        }
      }
    }
  }
}

.pets {
  padding: 80px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    width: 400px;
    text-align: center;
    padding-bottom: 60px;
    @include media-laptop {
      padding-bottom: 30px;
    }
    @include media-tablet {
      padding-bottom: 42px;
    }
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px 40px;

    .pets__card {
      margin: 0;
      width: 270px;
      height: 435px;
      background: $light-s;
      @include text-georgia(20px, 23px, $dark-l, 0.06em);
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin: 30px 0;
      }

      button {
        margin-bottom: 30px;
      }

      &:hover {
        cursor: pointer;
        background: $light-xl;

        & button {
          background: $primary-light;
        }
      }
    }


  }

  .navigation {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 340px;
  }

  @include media-laptop {
    padding-bottom: 75px;

    .cards-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      .pets__card:nth-of-type(n+7) {
        display: none;
      }
    }

    .navigation{
      padding-top: 40px;
    }
  }

  @include media-tablet{
    padding: 42px 0;
    &__title{
      width: 300px;
    }
    .cards-container{
      grid-template-columns: 1fr;
      .pets__card:nth-of-type(n+4){
        display: none;
      }
    }

    .navigation{
      //padding-top: 40px;
      width: 300px;
    }
  }
}

.button-left {
  @include text-georgia(20px, 115%, $dark-3xl, 0.06em);
  margin: 0;
  padding: 0;

  &_disable {
    margin: 0;
    padding: 0;
    @include text-georgia(20px, 115%, $dark-s, 0.06em);
    border: 2px solid $dark-s;

    &:hover {
      cursor: auto;
      background: $light-xl;
    }
  }

  &_fix {
    background: $primary;

    &:hover {
      cursor: auto;
      background: $primary;
    }
  }

}

@import "layouts/footer";